.tooltip-container{
    position: relative;
    width:300px;
    margin:10px
}
.tooltip{
    background-color: #1a1d28;
    max-height: 220px;
    color:white !important;
    position: absolute;
    top: -60px;
    /* left: 950px; */
    max-width: 200px;
    font-size: 16px;
    text-align: left;
    padding: 10px;
    border-radius: 8px;
}